html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  position: relative;
  min-width: 100%;
  height: 10rem;
  background-color: #3f5a36;
  border-bottom: 2rem solid #362419;
}

#vine {
  position: absolute;
}

#rune {
  position: absolute;
  
}