html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  position: relative;
  min-width: 100%;
  height: 7rem;
  background-color: #3f5a36;
  border-bottom: .5rem solid #362419;
}

#rune {
  position: absolute;
  width: clamp(26.5rem , 31.3vw, 50rem);
  left: clamp(21.196vw, 34.35vw, 54.8721vw);
}